body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#main {
    background-image: url("galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

#title {
    text-shadow: 0px 0px 4px black;  /* right down blur color */
}

.btn {
    padding: 6px 12px;
    background: #82a5ca;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: 800;
}

.cta {
    border-bottom: 4px solid white;
}
   